@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');


body {
    background: #F2F2F2;
    margin: 3px;
    font-family: "pangolin";
    
}


.navigation { 
    font-size: 1.9em;
    width: 10000px;
    background: aquamarine;
    position: fixed;
    margin-top: -3px;

    
}
#gitt { 
    padding-left: 4px;
    padding-right : 3px;
    background: darkmagenta; 
    color : white;
    border-radius: 4px; 
    border-style: solid;
}
span { 
    color : magenta;
}

#heading { 

    padding : 4px;
}

.headings { 
    background: white;
    padding: 1em;
    font-size: 1.9em;
    display: flex;
    place-content: space-between;
    cursor: pointer; 
    
    
} 
a:hover { 
    color : green;
    font-size: 0.9em;

}
a { 
    text-decoration: none;
}

#prime_number { 
    background: tomato;
    margin-top: 2px;
    padding-top: 5px;
    padding-bottom : 25px;
    color : white;
    
}
.input_1 , #prime_input{
    font-size: 1.9em;
    
}

.prime_div { 
    margin-top: 10px;
    text-align: center;
    
}

.lab { 
    font-size: 1.9em;
    margin-top: 15px;
}

#prime { 
    font-size: 1.9em;
    background: blue;
    color : white;
    border-radius: 5px;
    margin-right: 15px; 
    margin-left : 15px;
}
#prime_ans { 
    font-size: 1.9em;
}

#fact_num { 
    background: lemonchiffon;
    padding-top: 5px;
}

.input_2, #fact_input, .facto, #fact_output{ 
    font-size: 1.9em;
    margin-bottom : 15px;
} 
#fact_button { 
    font-size: 1.9em;
    background: blue;
    color : white;
    border-style: groove;
    border-radius: 3px;
    margin-right: 5px;
}

#arm_num { 
    background: dodgerblue;
    padding-top: 5px;
}

.input_3, #arm_input, .arm, #arm_output { 
    font-size: 1.9em;
    margin-bottom: 15px;
}

#arm_button, #palin_button{ 
    font-size: 1.9em; 
    background: blue; 
    color : white; 
    border-style: groove;
    border-radius: 3px;
    margin-right: 5px;
}

#palin_num { 
    background: darkviolet;
    padding-top: 5px;
    color : white;
}

.input_4, #palin_input, .palin, #palin_output{ 
    font-size: 1.9em;
    margin-bottom: 15px;
}